<html>

<header>
    <app-atrocel-hris-header (menuOpenClicked)="toggleSidebar()" ></app-atrocel-hris-header>
    <!-- <altrocel-employee-attendance></altrocel-employee-attendance> -->
</header>


<ng-sidebar-container style="height: 100vh; position: fixed;">
    <ng-sidebar mode="slide" [(opened)]="opened" ng-mouseover="openSideBar()" ng-mouseleave="closeSidebar"
        animate="true" autoCollapseWidth=100 style="position: fixed;">

        <div [ngClass]="{'side-nav-row-selected' : tabName == 'CREATE EMPLOYEES', 'side-nav-row' : tabName != 'CREATE EMPLOYEES'}" (click)="tabClicked('CREATE EMPLOYEES')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'CREATE EMPLOYEES', 'sidebar-text' : tabName != 'CREATE EMPLOYEES'}"> 
                Register Employees
             </label>
        </div>
         <div [ngClass]="{'side-nav-row-selected' : tabName == 'ATTENDANCE', 'side-nav-row' : tabName != 'ATTENDANCE'}" (click)="tabClicked('ATTENDANCE')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'ATTENDANCE', 'sidebar-text' : tabName != 'ATTENDANCE'}"> 
                Attendance</label>
        </div>
        <div [ngClass]="{'side-nav-row-selected' : tabName == 'ALL EMPLOYEES', 'side-nav-row' : tabName != 'ALL EMPLOYEES'}" (click)="tabClicked('ALL EMPLOYEES')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'ALL EMPLOYEES', 'sidebar-text' : tabName != 'ALL EMPLOYEES'}">
                 Employees</label>
        </div>
        <div [ngClass]="{'side-nav-row-selected' : tabName == 'LEAVE TYPE', 'side-nav-row' : tabName != 'LEAVE TYPE'}" (click)="tabClicked('LEAVE TYPE')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'LEAVE TYPE', 'sidebar-text' : tabName != 'LEAVE TYPE'}">
                 Leave Type</label>
        </div>
        <div [ngClass]="{'side-nav-row-selected' : tabName == 'APPLY LEAVE', 'side-nav-row' : tabName != 'APPLY LEAVE'}" (click)="tabClicked('APPLY LEAVE')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'APPLY LEAVE', 'sidebar-text' : tabName != 'APPLY LEAVE'}">
                 Apply Leave</label>
        </div>
          <!--<div [ngClass]="{'side-nav-row-selected' : tabName == 'BILLING', 'side-nav-row' : tabName != 'BILLING'}" (click)="tabClicked('BILLING')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'BILLING', 'sidebar-text' : tabName != 'BILLING'}"> 
                BILLING </label>
        </div>
        <div *ngIf="userType == 'MANAGER' || userType == 'ADMIN'" [ngClass]="{'side-nav-row-selected' : tabName == 'REPORTS', 'side-nav-row' : tabName != 'REPORTS'}" (click)="tabClicked('REPORTS')">
            <label [ngClass]="{'sidebar-text-selected ' : tabName == 'REPORTS', 'sidebar-text' : tabName != 'REPORTS'}">
                 REPORTS</label>
        </div> -->

    </ng-sidebar>

    <div ng-sidebar-content>
        <div class="home-page-body" style="padding-left: 10px;">
            <!-- <app-atrocel-hris-all-patients  *ngIf="tabName == 'PATIENTS'"></app-atrocel-hris-all-patients>
            
            <app-all-appointments *ngIf="tabName == 'APPOINTMENTS'" (createAppointment)="tabClicked('CREATE APPOINTMENTS')"></app-all-appointments>
            <app-all-employees *ngIf="tabName == 'EMPLOYEES'"></app-all-employees>
            <app-all-lab-tests *ngIf="tabName == 'LAB TESTS'" (createLabtests)="tabClicked('CREATE LABTESTS')"></app-all-lab-tests>
            <app-create-appointments *ngIf="tabName == 'CREATE APPOINTMENTS'"></app-create-appointments>
            <app-reports *ngIf="tabName == 'REPORTS'"></app-reports>
            <app-billing *ngIf="tabName == 'BILLING'"></app-billing>
            
            <app-register-lab-tests *ngIf="tabName == 'CREATE LABTESTS'"></app-register-lab-tests> -->
            <app-landing-page *ngIf="tabName == 'WELCOME'"></app-landing-page>
            <altrocel-leave-type  *ngIf="tabName == 'LEAVE TYPE'"></altrocel-leave-type>
            <altrocel-all-employees *ngIf="tabName == 'ALL EMPLOYEES'"></altrocel-all-employees> 
            <altrocel-employee-attendance *ngIf="tabName == 'ATTENDANCE'"></altrocel-employee-attendance>
            <altrocel-register-employees *ngIf="tabName == 'CREATE EMPLOYEES'"></altrocel-register-employees>
            <altrocel-employee-leave *ngIf="tabName == 'APPLY LEAVE'"></altrocel-employee-leave>
        </div>

    </div>
</ng-sidebar-container>
</html>