<div class="row">
    <!-- Edit Leave Type Data -->
    <div class="action-buttons pl-1 pr-1">
        <a (click)="openModal(EditLeavetype)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Edit Leave Type Data">
            <img src="../../../../../assets/images/previous-visits.png">
        </a>
    </div>
</div>

<ng-template #EditLeavetype>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Leave Type</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="updateLeavetypeForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Leave type: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="leaveTypeName" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Leave Count: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="leaveTypeCount" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="updateleaveType()" [disabled]="!updateLeavetypeForm.valid || !updateLeavetypeForm.dirty">Save</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
