<div class="row">
    <!-- add employee credentials -->
    <div class="action-buttons pl-1 pr-1" *ngIf="!hasCredentials && data.activeStatus == 'ACTIVE'">
        <a (click)="openModal(SaveEmployeeLoginModal)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Save Employee Credentials">
            <img src="../../../../../assets/images/discharge-completed.png">
        </a>
    </div>

    <!-- assign supervisor -->
    <div class="action-buttons pl-1 pr-1" *ngIf="data.activeStatus == 'ACTIVE'">
        <a (click)="getAllEmployees(); openModal(AssignSupervisorModal)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Assign Supervisor">
            <img src="../../../../../assets/images/shiftendo-completed.png">
        </a>
    </div>

    <!-- add employee payroll info -->
    <div class="action-buttons pl-1 pr-1" *ngIf="data.activeStatus == 'ACTIVE'">
        <a (click)="getEmployeePayrollInfo(); openModal(EmployeePayrollInfoModal)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Add Payroll Info">
            <img src="../../../../../assets/images/previous-visits.png">
        </a>
    </div>

    <!-- assign leave to employee -->
    <div class="action-buttons pl-1 pr-1" *ngIf="data.activeStatus == 'ACTIVE'">
        <a (click)="getAllLeavetypes(); getAllEmployeesLeaveForGrid(); openModal(EmployeeLeaveAssignModal)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Manage Employee Leave">
            <img src="../../../../../assets/images/leave-type.png">
        </a>
    </div>

    <!-- Make employee inactive -->
    <div class="action-buttons pl-1 pr-1" *ngIf="data.activeStatus == 'ACTIVE'">
        <a (click)="openModal(ConfirmationRemoveEmployeeModal)" data-toggle="tooltip" container="body"
            containerClass="custom-tooltip-class" tooltip="Make employee inactive">
            <img src="../../../../../assets/images/hide-alert.png">
        </a>
    </div>
</div>

<ng-template #SaveEmployeeLoginModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Register Credentials</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="employeeLoginRegisterForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Username: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="empusern" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="emppass" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Re-password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="repassword" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="saveLoginDetails()" [disabled]="!employeeLoginRegisterForm.valid">Save</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #AssignSupervisorModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Assign Supervisor</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="allEmployees.length > 0">       
        <div [formGroup]="employeeSupervisorForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Supervisor: </label>
                </div>
                <div class="col-8">
                    <select formControlName="supervisorId" class="form-control-sm form-control">
                        <option value="" disabled>--Select--</option>
                        <option *ngFor="let employee of allEmployees" [value]="employee.employeeId">{{employee.firstName + " " + employee.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="saveSupervisor()" [disabled]="!employeeSupervisorForm.valid">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body" *ngIf="allEmployees.length == 0">
        <div class="row">
            No Employees currently registered;
        </div>
    </div>   
</ng-template>

<ng-template #EmployeePayrollInfoModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Employee Payroll Info</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="employeePayrollInfoForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Basic Salary: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="monthlyBasicSalary" (keypress)="inputValidator($event)" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Monthly Allowance: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="monthlyAllowance" (keypress)="inputValidator($event)" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-2">
                    <label>EPF: </label>
                </div>
                <div class="col-4">
                    <input type="text" formControlName="employeeEpfPercentage" class="form-control-sm form-control">
                </div>
                <div class="col-2">
                    <label>ETF: </label>
                </div>
                <div class="col-4">
                    <input type="text" formControlName="employeeEtfPercentage" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Yearly Bonus: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="yearlyBonus" (keypress)="inputValidator($event)" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Travelling Allowance: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="employeeTravellingAllowance" (keypress)="inputValidator($event)" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="saveEmployeePayrollInfo()" [disabled]="!employeePayrollInfoForm.valid">Save</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #EmployeeLeaveAssignModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Employee Leave Management</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(); clearEmployeeLeaveForm()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="employeeLeaveAssignForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Employee Name: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="employeeName" class="form-control-sm form-control" disabled>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Leave Type: </label>
                </div>
                <div class="col-8">
                    <select formControlName="leaveTypeId" class="form-control-sm form-control" (change)="leaveTypeSelected()">
                        <option value="" disabled>--Select--</option>
                        <option *ngFor="let leaveType of allLeaveTypes" [value]="leaveType.leaveTypeId">{{leaveType.leaveType}}</option>
                    </select>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Leave Count: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="leaveCount" (keypress)="inputValidator($event)" class="form-control-sm form-control">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-12">
                    <button class="save-button" (click)="saveEmployeeLeaveAssign()" [disabled]="!employeeLeaveAssignForm.valid">Save</button>
                    &nbsp;
                    <button class="cancel-button" (click)="clearEmployeeLeaveForm()">Cancel</button>
                </div>
            </div>
            <div class="row pl-2">
                <ag-grid-angular 
                    style="width: 773px; height: 250px;" 
                    class="ag-theme-alpine"
                    [columnDefs]="columnDefsForLeaveAssignGrid"
                    (gridReady)="gridReadyEvent($event)" 
                    [gridOptions]="leaveAssignGridOptions">
                </ag-grid-angular>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #ConfirmationRemoveEmployeeModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Make Employee Inactive</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div class="row">
            Are you sure you want to make this employee inactive?
        </div>
        <div class="row">
            <div class="col-12">
                <button class="save-button" (click)="makeEmployeeInactive()">Save</button>
                <button class="cancel-button" (click)="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</ng-template>