<div class="row">
    <div class="col-md-12" style="margin-left: 16px;">
        <label class="heading-text">Register Employees</label>
    </div>
</div>
<div [formGroup]="employeeRegisterForm">
    <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>First Name: </label>
            <input type="text" formControlName="firstName" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label> Last Name: </label>
            <input type="text" formControlName="lastName" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Job Title: </label>
            <select formControlName="jobTitle" class="form-control-sm form-control">
                <option value="">--Select--</option>
                <option value="Software Engineer">Software Engineer</option>
                <option value="QA Engineer">QA Engineer</option>
                <option value="System Engineer">System Engineer</option>
            </select>
        </div>
    </div>
    <!-- <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>Username: </label>
            <input type="text" formControlName="empusern" [autocomplete]="'new-password'" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label> Password: </label>
            <input type="password" formControlName="emppass" [autocomplete]="'new-password'" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Re-password: </label>
            <input type="password" formControlName="repassword" class="form-control-sm form-control">
        </div>
    </div> -->
    <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>Date Joined: </label>
            <input type="text" autocomplete="off" bsDatepicker formControlName="dateJoined"
                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false}"
                (bsValueChange)="onDateChange($event)" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>DOB: </label>
            <input type="text" autocomplete="off" bsDatepicker formControlName="dateOfBirth"
                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', showWeekNumbers: false}"
                (bsValueChange)="onDateChange($event)" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>NIC: </label>
            <input type="text" formControlName="nic" class="form-control-sm form-control">
        </div>
    </div>
    <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>Contact Number: </label>
            <input type="text" (keypress)="inputValidator($event)" maxlength="10" formControlName="contactNumber" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Home Number: </label>
            <input type="text" (keypress)="inputValidator($event)" maxlength="10" formControlName="homeNumber" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Gender: </label>
            <select formControlName="gender" class="form-control-sm form-control">
                <option value="">--Select--</option>
                <option value="male">MALE</option>
                <option value="female">FEMALE</option>
            </select>
        </div>
    </div>
    <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>Nationality: </label>
            <input type="text" formControlName="nationality" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Address: </label>
            <textarea formControlName="address" class="form-control-sm form-control"></textarea>
        </div>
        <div class="col-4">
            <label>Passport Number: </label>
            <input type="text" (keypress)="inputValidator($event)" maxlength="20" formControlName="passportNumber" class="form-control-sm form-control">
        </div>
    </div>
    <div class="row pt-2 pr-2">
        <div class="col-4">
            <label>Civil Status: </label>
            <input type="text" formControlName="civilStatus" class="form-control-sm form-control">
        </div>
        <div class="col-4">
            <label>Race: </label>
            <select formControlName="race" class="form-control-sm form-control">
                <option value="">--Select--</option>
                <option value="Tamil">Tamil</option>
                <option value="Sinhala">Sinhala</option>
                <option value="Muslim">Muslim</option>
                <option value="Burgher">Burgher</option>
            </select>
        </div>
        <div class="col-4">
            <label>Email: </label>
            <input type="text" formControlName="email" class="form-control-sm form-control">            
        </div>
    </div>
    <div class="row pt-2 pr-2">
        <div class="col-12">
            <button class="save-button pl-3" (click)="saveEmployee()"
                [disabled]="!employeeRegisterForm.valid">{{saveBtnText}}</button>
            <button class="cancel-button pl-3" (click)="cancelFormEmployee()">Cancel</button>
        </div>
    </div>
</div>

<ng-template #SaveEmployeeLoginModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Register Employee Credentials</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="employeeLoginRegisterForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Username: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="empusern" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="emppass" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Re-password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="repassword" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="saveLoginDetails()" [disabled]="!employeeLoginRegisterForm.valid">Save</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>