<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>

    <div class="fixed-header">
        <div class="row">
            <div class="col-md-1">
                <div class="side-bar-container" style="position: relative;" (click)="toggleSidebar()"
                style= "padding:5px;margin-top: 0px;margin-left: 12px;">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
                </div>
            </div>
            <div class="col-md-5" style="text-align: end;">
                <label class="center-text" style="font-size: 32px;font-weight: 600;">Altrocel HRIS</label>
            </div>
            <div class="col-md-3">
                <a  class="underlineHover"
                style="margin-left: 300px;margin-top: 30px;">
                <h5></h5>
            </a>
            &nbsp; 
            <label style="margin-top: 30px;">  </label>
            &nbsp;
            <a  class="underlineHover"
                style="margin-top: 30px;">
                <h5></h5>
            </a>
            </div>
            <div class="col-md-3 mt-1" style="text-align: end;">
                <button href="javascript:void(0)" class="underlineHover btn-dashboard-1" (click)="openModal(ChangePassword)"
                style="margin-right: 15px;">
                <label style="font-size: 14px;font-weight:500;margin-bottom: 0px;"> Change Password</label>
                </button>
                <button href="javascript:void(0)" class="underlineHover btn-dashboard-1" (click)="openModal(EditPatientModal)"
                style="margin-right: 15px;">
                <label style="font-size: 14px;font-weight:500;margin-bottom: 0px;"> Profile</label>
                </button>
                <button href="javascript:void(0)" class="underlineHover btn-dashboard-2" (click)="logoutEmployee()">
                <label style="font-size: 14px;font-weight: 500;;margin-bottom: 0px;">Logout</label>
                </button>
            </div>
        </div>
    </div>
    <!-- <div class="fixed-footer">
        <div class="container">
            <p class="footer-text" style="margin-left: 400px;margin-bottom: 6px;">Copyright &copy; 2020 Software Engineering Final Project</p>
        </div>
    </div> -->
</body>

</html>

<ng-template #EditPatientModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Profile Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <app-atrocel-hris-register-patients *ngIf="userType == 'PATIENT'" [Data]="userData" (closeEditModal)="closeModal()">
        </app-atrocel-hris-register-patients> -->
        <!-- <app-register-employees *ngIf="userType != 'PATIENT'" [Data]="userData" (closeEditModal)="closeModal()"></app-register-employees> -->
    </div>
</ng-template>
<ng-template #ChangePassword>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Change Password</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">        
        <div [formGroup]="changePasswordForm">
            <div class="row pb-2">
                <div class="col-4">
                    <label>Username: </label>
                </div>
                <div class="col-8">
                    <input type="text" formControlName="username" class="form-control-sm form-control" [autocomplete]="'new-password'" disabled>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label> Password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="password" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-4">
                    <label>Re-password: </label>
                </div>
                <div class="col-8">
                    <input type="password" formControlName="rePassword" class="form-control-sm form-control" [autocomplete]="'new-password'">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="save-button" (click)="changePasswordForUser()" [disabled]="!changePasswordForm.valid">Change</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>