.center-text{
    text-align: center;
}

.side-bar-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #38598B;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 15px;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  body {
    padding-top: 60px;
    padding-bottom: 30px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    background:	#F1F6F9;
    padding: 10px;
    color: #38598B;
    top: 0;
    height: 70px;
    border-bottom: 1px solid #D0E1F9;
}

.fixed-footer {
  width: 100%;
  background:	#F1F6F9;
  padding: 6px 0;
  color: #38598B;
}

.fixed-footer {
    bottom: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* Center the DIV horizontally */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.btn-dashboard-1{
  color: #6B778D;
  border-color: #6B778D;
  padding: 7px 11px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.btn-dashboard-2{
  color: #38598B;
  border-color: #38598B;
  padding: 7px 11px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}